/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #343a40; /* Dark gray navbar */
    color: #ffffff; /* White text */
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #ffffff; /* White text */
  }
  
  /* Container styles */
  .container {
    margin-top: 20px;
  }
  
  /* Form styles */
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Button styles */
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff; /* Blue button */
    color: #ffffff; /* White text */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Footer styles */
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 10px;
    background-color: #F8F9FA; /* Dark gray footer */
    color: #ffffff; /* White text */
    text-align: center;
    color:#343a40;
  }
  
  /* Table styles */
  .table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
  }
  
  /* Journal entry styles */
  #journal_entry {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #journal_header {
    margin-bottom: 20px;
  }
  
  #date,
  #journal_no,
  #rating {
    font-weight: bold;
  }
  
  #entry_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #journal_text {
    margin-bottom: 10px;
  }
  
  #journal_image {
    margin-top: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      padding: 0 15px;
    }
  }
  