.container{
    display:flex;
    flex-direction: column;
    margin-top:20px;
    /* align-content: space-between; */
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    align-items:center;
    width: 100%
}
h1{
    text-align: center
}

.card{
    /* align: center; */
    width:100%;
    margin-top:20px;
    
}

body{
    margin:0;
    padding:0;
    width:100%;
}

.card-body{
    display:flex;
    flex-direction:row;
    align-content:stretch;
    gap:35%
}