#journal_header {
    margin-top: 25px;
}

#journal_entry {
    margin-left: 25px;
}



#journal_image img {
    width: 40%;
}

.container{
    display:flex;
    width: 50%; 
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px  rgba(0, 0, 0, 0.1);
}